<!-- ko if: isConnected() -->
    <div class="inbox" data-bind="click: toggle">
        <i class="fas fa-bell fa-lg"></i>
        <span class="notifications-counter" data-bind="text: newMsgCount, visible: newMsgCount, css: pop"></span>
    </div>
    <!-- ko if: !isEmpty() -->
    <div class="messages-list-wrapper">
        <ul class="messages-list" data-bind="foreach: messages, css: {visible: visible}">
            <li class="item" data-bind="css: type">
                <span data-bind="text: message"> </span>
                <a href="#" class="remove-msg" data-bind="click: $parent.removeMsg"><i class="fas fa-trash-alt"></i></a>
            </li>
        </ul>
        <!-- /ko -->

        <!-- ko if: isEmpty() -->
        <p class="messages-list empty" data-bind="css: {visible: visible}">
            <strong> <!-- ko i18n: 'Currently you have no messages.' --><!-- /ko --></strong>
        </p>
        <!-- /ko -->
    </div>

<!-- /ko -->

