<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <messages>
            <general>
                <enable>1</enable>
                <always_keep_message>1</always_keep_message>
            </general>
        </messages>
    </default>
</config>
